@page
@model DocAggregator.API.Pages.ClaimInfoModel

@if (Model.IsCorrect)
{
    <h1>
        Инспектируемая заявка &lt;@(Model.Claim.ID)&gt;.
    </h1>
    <p>Тип: @Model.Claim.TypeID</p>
    <p>Система: @Model.Claim.SystemID</p>
    <table cellspacing="0" border="1">
        <caption>
            Перечень всех доступных полей для шаблона.
        </caption>
        <tr>
            <th>Имя</th>
            <th>Код</th>
            <th>Значение</th>
        </tr>
        @foreach (var field in Model.ClaimFields)
        {
            <tr>
                <td>
                    @field.Category
                    <br />
                    @field.Attribute
                </td>
                <td>
                    @(field.NumeralID?.ToString() ?? field.VerbousID)
                </td>
                <td>
                    @field.Value
                </td>
            </tr>
        }
    </table>
    <table cellspacing="0" border="1">
        <caption>
            Перечень всех доступных полей полномочий для шаблона.
        </caption>
        <tr>
            <th>Имя</th>
            <th>Код</th>
            <th>Значение</th>
        </tr>
        <tr>
            <td rowspan="3">
                Общее по заявке состояние
            </td>
            <td>
                *a
            </td>
            <td align="center" class="@Model.AllowAccess.ToString()">
                @Model.AllowAccess
            </td>
        </tr>
        <tr>
            <td>
                *с
            </td>
            <td align="center" class="@Model.ChangeAccess.ToString()">
                @Model.ChangeAccess
            </td>
        </tr>
        <tr>
            <td>
                *d
            </td>
            <td align="center" class="@Model.DenyAccess.ToString()">
                @Model.DenyAccess
            </td>
        </tr>
        @foreach (var accessRight in Model.AccessFields)
        {
            <tr>
                <td rowspan="2">
                    @accessRight.Name
                </td>
                <td>
                    *@(accessRight.NumeralID)a
                </td>
                <td align="center" class="@accessRight.IsAllowed.ToString()">
                    @accessRight.IsAllowed
                </td>
            </tr>
            <tr>
                <td>
                    *@(accessRight.NumeralID)d
                </td>
                <td align="center" class="@accessRight.IsDenied.ToString()">
                    @accessRight.IsDenied
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1>An error occured!</h1>
}