@page "{handler?}"
@model DocAggregator.API.Pages.ServicePageModel

@if (Model.IsCorrect)
{
    <h1>Проверка конфигурации.</h1>
    <h2>Database:</h2>
    <p>
        Ресурс запросов -
        @if (Model.Queries.HasValue)
        {
            <span class="Ready">@Model.Queries.Value @Model.CountableDeclension(Model.Queries.Value,"запрос","","а","ов")</span>
        }
        else
        {
            <span class="Error">отсутствует</span>
        }
    </p>
    <p>
        Привязка типов к запросам -
        @if (Model.Bindings.HasValue && !Model.Bindings.Value.Equals(0))
        {
            <span class="Ready">@Model.Bindings.Value @Model.CountableDeclension(Model.Bindings.Value,"привяз","ка","ки","ок")</span>
        }
        else
        {
            <span class="Error">отсутствует</span>
        }
    </p>
    <p>
        Подключение к базе данных -
        @if (Model.Connection)
        {
            <span class="Ready">готово</span>
        }
        else
        {
            <span class="Error">отсутствует</span>
        }
    </p>
    <h2>Editor:</h2>
    @if (Model.Templates.Count() > 0)
    {
        <p>
            Привязки шаблонов -
        </p>
        <ul>
            @foreach (var item in @Model.Templates)
            {
                <li>"@item.Item1" <span class="Ready">имеет @item.Item2 @Model.CountableDeclension(@item.Item2,"файл","","а","ов")</span></li>
            }
        </ul>
    }
    else
    {
        <p>
            Привязки шаблонов - <span class="Error">не найдены</span>
        </p>
    }
    @if (Model.Files.Count() > 0)
    {
        <p>
            Файлы шаблонов -
        </p>
        <ul>
            @foreach (var item in @Model.Files)
            {
                <li>"@item.Item1" <span class="Ready">имеет @item.Item2 @Model.CountableDeclension(@item.Item2,"файл","","а","ов")</span></li>
            }
        </ul>
    }
    else
    {
        <p>
            Файлы шаблонов - <span class="Error">не найдены</span>
        </p>
    }
    <p>
        Редактор LibreOffice -
        @if (Model.Editor)
        {
            <span class="Ready">готов</span>
        }
        else
        {
            <span class="Error">отсутствует</span><span> по пути "@Model.EditorPath"</span>
        }
    </p>
    <p>
        Скрипты конвертера -
        @if (Model.Scripts)
        {
            <span class="Ready">готов</span>
        }
        else
        {
            <span class="Error">отсутствует</span><span> по пути "@Model.ScriptsPath"</span>
        }
    </p>
    <p>
        Сервер конвертера -
        @if (Model.Server)
        {
            <span class="Ready">готов</span>
        }
        else
        {
            <span class="Error">отсутствует</span>
        }
    </p>
    @if (Model.Dump != null)
    {
        <h2>Dump:</h2>
        <p>@Model.Dump</p>
    }
}
else
{
    <h1>An error occured!</h1>
}